@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/* ----------Dining ------------- */

#c1 div{
    background-color: rgb(244, 244, 244);
}

#c1{
    border-bottom:none;
}

#c1 a{
    color: rgb(82, 82, 82);
}

#c2{
    border-bottom: 0.2rem solid red;
    
}

#c2 a{
    color: red;
}

#c2 div{
    background-color: rgb(220, 243, 249);
}

/* section2  */
#sec2{
    display: block;
    box-sizing: inherit;
    position: sticky;
    top: 0px;
    background-color: white;
}

.sec2_box{
    display: flex;
    align-items: left;
    width: 76%;
    margin: auto;
    /* margin-bottom: 4rem; */
    height: 100px;
    align-items: center;
    position:sticky;
    z-index: 2;
    transition: top 0.5s ease-in-out 0s;
}

.sec2_button{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(212, 211, 211);
    padding: 3px ;
    margin: 6px;
    height: 35px;
    width:fit-content;
    justify-content: center;
    border-radius: 10px ;
    
}

.sec2_button img{
    width: 35%;
    height:70%;
    padding: 2px;
    margin: 2px;
}

.sec2_button p{
    color: rgba(86, 86, 86, 0.486);
    margin: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}


/* Bannner section */
.banner{
    width: 75%;
    margin: auto;
}

.ban{
    width: 100%;
    border-radius: 15px;
}

.ban img{
    width: 100%;
}

/* ----------------- Trending Dining---------------- */

#Night_places{
    font-family: 'Raleway', sans-serif;
} 

.sec_places{
    width: 75%;
    margin: auto;

}

.sec4{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.boxes{
    width: 31%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 14px;
    /* background-color: rgb(32, 133, 57); */
}

.boxes:hover{
    box-shadow: 0px 2px 8px rgba(231, 228, 228, 0.545);
    border: 0.5px solid rgb(244, 244, 244);
    /* width: 40%; */
}

.img_place{
    width: 100%;
    height: 16rem;
}

.img_place img{
    width: 100%;
    height: 100%;
    border-radius:13px ;
    object-fit: cover;
}

.box{
    margin-top: 3px;
}

.Nightplace{
    /* text-overflow: ellipsis;
    overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    
}

.Nightplace p{
    color: grey;
    font-size: 15px;
}
.rating{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    background-color: green;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    
    
}

.rating p{
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 1px 6px;
    padding-bottom: 2px;
    /* height: 1rem; */
}
