@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@400;700;900&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif; */

}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    width: 100%;
}

.container2 ,form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 50rem;
    margin: auto;
}

form h1{
    text-align: center;
}


form input ,button{
    width: 20rem;
    border-radius: 13px;
    margin: 3px;
    height: 2rem;
    padding: 3px 10px;
    border:2px solid black;
}

form button{
    width: 10rem;
}

form button:hover{
    background-color: black;
    color: white;
}