html
  head
    title Dance Academy
    block scripts
    block style
  body
    nav(#navbar)
            ul 
                li #[a(href="/home") Home ]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services ]
                li #[a(href="/class") Class Intro ]
                li #[a(href="/contact") Contact Us] 
    block content
    Footer#footer
            h4 Copyright © DANCE ACADEMY |ALL RIGHTS RESERVED